@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");
.stats, .stats > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  font-size: 1em;
}

body {
  background: #4f345a;
  font-family: 'Roboto Condensed', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 1em;
  color: #fff;
}

header {
  background: #38023b;
  color: #9990a5;
  margin: 0;
  border: inset 10px rgba(0, 0, 0, 0.05);
  font-size: 1.5em;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}

input {
  padding: 5px;
}

.visual-output {
  flex-basis: 200px;
}

.gcode-output {
  flex: 1;
  background: black;
  position: relative;
}

textarea {
  background: black;
  font-family: monospace;
  color: #fff;
  border: none;
  overflow: visible;
  position: absolute;
  display: block;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 100%;
  width: 386px;
}

nav {
  justify-content: flex-end;
  font-size: 14px;
  line-height: 20px;
  margin-right: -5px;
  position: relative;
}
nav button {
  margin: 0 5px;
  background: #4f345a;
  border-radius: 15px;
  border: 1px solid #29022B;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  padding: 5px 10px;
}
nav button:hover {
  cursor: pointer;
  color: white;
}

label, .by {
  line-height: 2em;
}

.by {
  width: 20px;
  text-align: center;
}

.canvas-wrapper {
  display: flex;
  height: 200px;
  background: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas-wrapper, .stats {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 10px;
}

.row {
  display: flex;
}
body > .row {
  height: 100%;
}

.row > div {
  height: 100%;
}

select, .dev-config {
  flex: 1;
}

h2 {
  color: cyan;
  font-size: 1.5em;
  padding: 10px 20px;
}

.logo {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 30px;
}

.guide {
  background-color: #4f345a;
  width: 80px;
}

.dev-config {
  background-color: #29022B;
  padding: 20px 0;
}
.dev-config h2 {
  margin: 0 0 20px 0;
}

.output {
  width: 400px;
}

.output-tools {
  height: 50px;
  align-items: center;
}
.output-tools a {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.config-form {
  padding: 0 20px;
  margin-bottom: 20px;
}

.config-list, .config-option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.config-option {
  margin-bottom: 10px;
  position: relative;
}
.config-option:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -26px;
  width: 10px;
  height: 10px;
  background: #38023b;
  border-radius: 5px;
}

.config-option label {
  margin-right: 20px;
  display: block;
}

.config-option label small {
  color: #ccc;
}

.config-option input {
  flex: 1;
}

canvas {
  width: auto;
  border: none;
  image-rendering: pixelated;
}

.output-tool-copy-gcode {
  text-decoration: none;
  float: right;
  font-size: .5em;
  line-height: 2em;
  color: orangered;
  position: relative;
  opacity: .75;
}
.output-tool-copy-gcode:hover {
  opacity: 1;
}
.output-tool-copy-gcode:before, .output-tool-copy-gcode:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid cyan;
  background: orangered;
}
.output-tool-copy-gcode:after {
  top: 5px;
  left: -16px;
}
.output-tool-copy-gcode:before {
  top: 8px;
  left: -13px;
}

.stats {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  font-size: 0.75em;
  background-color: white;
  color: dimgrey;
}

.stat-color, .show-all {
  line-height: 1.5em;
}
.stat-color:hover, .show-all:hover {
  cursor: pointer;
}
.stat-color.enabled, .show-all.enabled {
  font-weight: bold;
}

.show-all {
  display: block;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.stat-color-swatch {
  flex-basis: 30px;
}

.stat-color-length {
  flex-basis: 30px;
  text-align: center;
}

.stat-color-name {
  flex: 1;
  text-align: right;
}

.config-image {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=main.css.map */
