@import 'main';
* {
  font-size: $font-size;
}

body {
  background: $light-purple;
  font-family: 'Roboto Condensed', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: $font-size;
  color: $white;
}

header {
  background: $purple;
  color: $lighter-purple;
  margin: 0;
  border: inset 10px rgba(0, 0, 0, 0.05); 
  font-size: 1.5em;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
}
    
input {
  padding: 5px;
}

.visual-output {
  flex-basis: 200px;
}

.gcode-output {
  flex: 1;
  background: black;
  position: relative;
}

textarea {
  background: black;
  font-family: monospace;
  color: #fff;
  border: none;
  overflow: visible;
  position: absolute;
  display: block;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 100%;
  width: 386px;
}

nav {
  justify-content: flex-end;
  font-size: 14px;
  line-height: 20px;
  margin-right: -5px;
  position: relative;

  button {
    margin: 0 5px;
    background: $light-purple;
    border-radius: 15px;
    border: 1px solid $dark-purple;
    color: rgba(white, 0.75);
    text-transform: uppercase;
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
      color: white
    }
  }
}

label,.by {
  line-height: 2em;
}

.by {
  width: 20px;
  text-align: center;

}

.canvas-wrapper {
  display: flex;
  height: 200px;
  background: $white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas-wrapper, .stats {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 10px;
}

.row {
  display: flex;
  body > & {
    height: 100%;
  }
}

.row > div {
  height: 100%;
}

select, .dev-config {
  flex: 1;
}

h2 {
  color: cyan;
  font-size: 1.5em;
  padding: 10px 20px;
}

.logo {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 30px;
}
.guide{
  background-color: $light-purple;
  width: 80px;
}

.dev-config {
  background-color: $dark-purple;
  padding: 20px 0;
  h2 {
    margin: 0 0 20px 0;
  }
}

.output {
  width: 400px;
}

.output-tools {
  height: 50px;
  align-items: center;
  
  a {
    flex: 1;
    text-align: center;
    text-decoration: none;
  }
}

.config-form {
  padding: 0 $form-padding;
  margin-bottom: 20px;
}

.config-list, .config-option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.config-option {
  margin-bottom: 10px;  
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -26px;
    width: 10px;
    height: 10px;
    background: $purple;
    border-radius: 5px;
  }
}

.config-option label {
  margin-right: 20px; 
  display: block;
}

.config-option label small {
  color: #ccc;
}

.config-option input{
  flex: 1;
}

canvas {
  width: auto;
  border: none;
  image-rendering: pixelated; 
}

.output-tool-copy-gcode {
  text-decoration: none;
  float: right;
  font-size: .5em;
  line-height: 2em;
  color: orangered;
  position: relative;
  opacity: .75;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid cyan;
    background: orangered;
  }
  &:after {
    top: 5px;
    left: -16px;
  }
  &:before {
    top: 8px;
    left: -13px;
  }
}
.stats {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  @extend %ul-reset;
  font-size: 0.75em;
  background-color: white;
  color: dimgrey;
}

.stat-color,.show-all {
  line-height: 1.5em;
  &:hover {
    cursor: pointer;
  }
  &.enabled {
    font-weight: bold;
  }
}

.show-all {
  display: block;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.stat-color-swatch {
  flex-basis: 30px;
}
.stat-color-length {
  flex-basis: 30px;
  text-align: center;
}
.stat-color-name {
  flex: 1;
  text-align: right;
}

.config-image {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}